.segmentedControl {
    background-color: #00205b10;
    width: 200px;
    padding: 10px 20px;
}

.segmentedControl:nth-child(1) {
  border-right: 1px solid gray;
}
  
.segmentedControlWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20% 0 0 35%;
  width: 30%;  
}

.segmentedControl__buttonGroup {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
}

.segmentedControl span {
  font-weight: bolder;
}

.segmentedControl input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.segmentedControl label {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 1.0em;
}

.segmentedControl label:hover {
  background-color: #00205b40;
  cursor: pointer;
}

.segmentedControl input[type="radio"]:checked + label {
    background-color: #00205b;
    color: white;
}